
<header style="background-color: white">
  <div class="container">
    <h1><a href="index.html" style="top:0px; left: 10px;color:black;background-color: lightblue">WebApp</a></h1>
    <nav>
      <ul>
        <li><a href="index.html" class="icon tasks" style="color: black;">Tasks <span>3</span></a></li>
        <li class="active"><a href="index.html" class="icon messages"style="color: black;">Messages <span>17</span></a></li>
        <li><a href="index.html" class="icon settings"style="color: black;">Settings</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="about">
  <p class="about-links">
    <a style="padding-bottom: 15px; color:black ">Author</a>
    <a style="padding-bottom: 5px; color: black">Aabhas Sinha</a>
  </p>

</section>
